/* Home Page CSS */
/* * {
  color: black;
} */

.home-container{
  height: 100%;
  width: 100%;
  /* display: flex; */
}
  
.bg {
  background-image: url('../Images/OnyxCaveLogoLarge.png');
  height: 0;
  width: 100%;
  /* object-fit: cover; */
  background-repeat: no-repeat;
  background-size: contain; 
  padding-top: 40.41%;
}
  
.onyx-dark{
  background-color: #241e20;
  color: #241e20;
}
  
.info-container {
  /* position: relative; */
  background-color: #241e20;
  color: #fcd904;
  width: 100%;
  display: flex;
  justify-content: space-between;  align-items: stretch;
}
  
.info-inner-container {
  padding: 5%;
  padding-top: 30px;
  width: 50%;
  text-align: center;
  font-size: 20px;
}
  
.info-container div h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

.info-image{
  width: 100%;
  border-radius: 20px;
}
  
@media only screen and (max-width: 1024px) {
  .info-container {
    display: block;
  }
  .info-container div{
    border-bottom: 5px solid #fcd904;
    width: 100%;
    font-size: 1.25rem;
  }

  .info-container div h1{
    font-size: 2rem;
  }
  
  .info-container div p{
    padding: 25px;
  }
  
}