.app-Container{
  background-image: url(Images/GiftShopAmythestCollection.jpg);
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}